/* add custom styles */
.center{
  text-align: center;
}
.navbar {
  background-color: none;
  border: none;
}
.navbar a{
  color: black;
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}