/* add custom styles */
.animate-enter, 
.animate-leave
{ 
  -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  position: relative;
  display: block;
} 
 
.animate-enter.animate-enter-active, 
.animate-leave {
  opacity: 1;
  top: 0;
  height: 30px;
}
 
.animate-leave.animate-leave-active,
.animate-enter {
  opacity: 0;
  top: -50px;
  height: 0px;
}
.center{
  text-align: center;
}
.white{
  color: white;
}
.shadow{
  text-shadow: 1px 1px #000000;
}
nav {
  height: 15vh;
}

nav ul{
  display: inline-block; 
}

nav li {
  list-style-type: none;
}
nav img {
  height: 15vh;
}
.landing {
  display: flex;
  height: 60vh;
}
.flexbox {
  display: flex;
  height: 85vh;
}
.box{
  width: 50%;
  margin: auto;
}
footer{
  display: block;
  height: 5vh;
  padding: 10px;
}
footer p{
  font-size: 18px;
  float: right;
  margin: 0;
}
footer img{
  height: 5vh;
}