
.center{
  text-align: center;
}
.white{
  color: white;
}
.shadow{
  text-shadow: 1px 1px #000000;
}
nav {
  height: 15vh;
}

nav ul{
  display: inline-block; 
}

nav li {
  list-style-type: none;
}
nav img {
  height: 15vh;
}
.landing {
  display: flex;
  height: 60vh;
}
.done {
  display: flex;
  height: 25vh;
}
.flexbox {
  display: flex;
  height: 85vh;
}
.box{
  width: 50%;
  margin: auto;
}
.margin-top{
  margin-top: 5%;
}
footer{
  display: block;
  height: 5vh;
  padding: 10px;
}
footer p{
  font-size: 18px;
  margin: 0;
}
footer img{
  float: right;
  height: 5vh;
}
/* animation */
.animate-show {
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  background: white;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 1s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}