<!DOCTYPE html>
<html lang="en" ng-app='currentAmerica'>
  <head>
    <meta charset="utf-8">
    <title>Current America</title>

    <link rel="stylesheet" type="text/css" href="client/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="client/css/skeleton.css">
    <link rel="stylesheet" type="text/css" href="client/css/main.css">
    <link rel="stylesheet" type="text/css" href="client/css/pieChart.css">
    <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.css">

    </head>
  <body>
    <!-- sample angular code -->

    <header></header>



    <div class="container" ng-controller='MyCtrl'>
        <div class="row animate-show" ng-hide="showFilters">
          <div class="twelve columns center landing">
            <div class="box">
              <p>Landing Paragraph</p>
            </div>
          </div>
        </div>

        <div class="row animate-show done" ng-hide="showFilters">

          <div class="twelve columns center">
            <button ng-click="showFilters = !showFilters">Show Filters</button>

          </div>
        </div>


        <!-- Filters -->

        <div class="row animate-show" ng-show="showFilters">

          <div class="twelve columns center flexbox">
            <div class="box">
              <div class="one-half column" ng-click="toggleYears()"><button>Compare Years</button></div>
              <div class="one-half column"><button ng-click="toggleStates()">Compare States</button></div>
              <div class="twelve columns">
                <div class="states animate-show" ng-show="compareStates">
                  <p>Pick a year and two states then submit:</p>
                  <select name="yearSelect1" ng-model="data.yearSelect1" >
                    <option ng-selected="compareStates" disabled value="">Year 1</option>
                    <option ng-repeat="year in years" value={{year.value}}>{{year.year}}</option>
                  </select>
                </div>
              <div class="states animate-show" ng-show="compareYears">
                  <p>Pick two years and a state then submit: </p>
                <select name="yearSelect1" ng-model="data.yearSelect1" >
                  <option ng-selected="compareYears" disabled value="">Year 1</option>
                  <option ng-repeat="year in years" value={{year.value}}>{{year.year}}</option>
                </select>
                <select name="yearSelect2" ng-model="data.yearSelect2" >
                  <option ng-selected="compareYears" disabled value="">Year 2</option>
                  <option ng-repeat="year in years" value={{year.value}}>{{year.year}}</option>
                </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- US Map -->
        <div class="row">
          <div class="twelve columns">
            <datamap map="mapObject" on-click="updateActiveGeography">
            </datamap>
          </div>
          <div class="twelve columns center">
            <button ng-click="submit()">Submit</button>
          </div>
        </div>

        <div class="row margin-top">
          <div class="one-half column center">
            <h5 ng-show="showLegends">Energy Generation of {{spanState1}} in {{spanYear1}}: </h5>
            <canvas id="pie" class="chart chart-pie"
                    chart-data="pie1.data" chart-labels="pie1.labels">
            </canvas>
          </div>
          <div class="one-half column center">
            <div class="pie2 center" id="pie2">
              <h5 ng-show="showLegends">Energy Generation of {{spanState2}} in {{spanYear2}}: </h5>
              <canvas id="pie" class="chart chart-pie"
                    chart-data="pie2.data" chart-labels="pie2.labels" chart-legend="true">
            </canvas>

            </div>
          </div>
        </div>
      <!-- end controller -->
    </div>


    <footer></footer>

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Angular -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.10/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.10/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.10/angular-animate.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.10/angular-sanitize.js"></script>
    <script type="text/javascript" src="client/app.js"></script>

    <!--Controllers-->
    <script type="text/javascript" src="client/js/controllers/DomCtr.js"></script>
    <script type="text/javascript" src="client/js/controllers/APICtr.js"></script>

    <!-- layout -->
    <script type="text/javascript" src="client/js/header.js"></script>
    <script type="text/javascript" src="client/js/footer.js"></script>

    <!--Services-->
    <script type="text/javascript" src="client/js/services/crud.js"></script>
    <script type="text/javascript" src="client/js/services/energyDataService.js"></script>

    <!-- D3 -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
    <script src="./client/js/vendor/datamaps.usa.min.js"></script>
    <script src="./client/js/vendor/angular-datamaps.min.js"></script>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/angular.chartjs/0.8.8/angular-chart.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
    <script src="./client/js/vendor/datamaps.usa.min.js"></script>
    <script src="./client/js/vendor/angular-datamaps.min.js"></script>


  </body>
</html>
